<!DOCTYPE html>

<html lang="es">

<head>
    <%- include('../partials/head.ejs'); %>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md bg-light">
        <div class="container">
          <div class="d-flex">
            <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#"><i class="bi bi-apple"></i> CoursesPage</a>
          </div>
    
    
          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body py-0">
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#features">Detalles</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#pricing">Precio</a>
                </li>
              </ul>
              <ul class="navbar-nav align-items-center">
                <li class="nav-item">
                  <a class="btn btn-outline-primary me-3 mb-xs-3" data-bs-toggle="modal" data-bs-target="#modalInicioSesion"
                    aria-current="page" href="/sign-in">Iniciar sesión</a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalRegistro" aria-current="page"
                    href="/sign-up">Registrarse</a>
                </li>
    
              </ul>
            </div>
          </div>
        </div>
      </nav>


    <div class="container-fluid p-5 bg-light">
        <div class="row">
            <div class="col">
                <h1 class="mb-3">Usuarios</h1>
                <div class="table-responsive-md">
                    <table class="table table-hover shadow table-bordered">
                        <thead>
                            <tr class="table-primary">
                                <th scope="col">Nombre</th>
                                <th scope="col">Teléfono</th>
                                <th scope="col">Email</th>
                                <th scope="col">Acción</th>
                            </tr>
                        </thead>
                        <tbody>

                            <% users.forEach(user=> { %>

                                <tr>
                                    <td>
                                        <%= user.nombre %>
                                    </td>
                                    <td>
                                        <%= user.telefono %>
                                    </td>
                                    <td>
                                        <%= user.email %>
                                    </td>
                                    <td>
                                        <a href="/user/delete/<%= user.idUser %>"
                                            class="btn btn-outline-danger"><i class="bi bi-trash-fill"></i></a>
                                    </td>
                                </tr>
                                <% }) %>

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- terminad -->
        </div>
    </div>
    <script>
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>

</body>

</html>